/* Para todos los elementos en la página: espaciado interno y externo, margenes de 10 y sin espaciado entre elementos */
* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}

/* Edición del fondo y fuente de la página */
body {
    color: white;
    background: white;
    font-family: 'Oswald', sans-serif;
}

/* SECCIÓN CONTAINER */ /* SECCIÓN CONTAINER */ /* SECCIÓN CONTAINER */
/* Para todos los elementos con etiquetado 'container': ocupar 80% de espacio y centrado */
.container {
    width: 80%;
    margin: auto;
}

/* SECCIÓN BANNER SUPERIOR */ /* SECCIÓN BANNER SUPERIOR */ /* SECCIÓN BANNER SUPERIOR */
/* Edición del banner superior (el banner superior está etiquetado como 'top-banner') */
.top-banner {
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: underline;
    margin-bottom: 15px;
}

/* SECCIÓN PANEL DE NAVEGACIÓN */ /* SECCIÓN PANEL DE NAVEGACIÓN */ /* SECCIÓN PANEL DE NAVEGACIÓN */
/* Edición del panel de navegación: (el panel de navegación está etiquetado como 'nav-main') */
.nav-main{
    height: 70px;                      /* Altura del panel de navegación de 70 píxeles */
    font-size: 20px;                   /* Tamaño de fuente 20 píxeles */
    background: black;               /* Color de fondo del panel de navegación */
    display: flex;                     /* Ubicar elementos uno al lado del otro (imagen y marcadores) */
    align-items: center;               /* Alinea los elementos en un eje horizontal */
    justify-content: center;           /* Justificar contenido */
}
/* Edición del tamaño del logo del panel de navegación (la imagen está etiquetada como 'nav-brand') */
.nav-brand {
    width: 110px;
}
/* Para todos los elementos con etiqueta 'ul': eliminar los estilos por defecto */
ul {
    list-style: none;
}
/* Para todas los elementos con etiqueta 'a': color blanco y sin subrayado */
a {
    color: white;
    text-decoration: none;
}
/* Ubicar marcadores del panel de navegación uno al lado del otro (los marcadores están etiquetados como 'nav-main') */
.nav-main ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Insertar espaciado entre cada marcador del panel de navegación */
.nav-main ul li {
    padding: 40px;
}
/* Estilizar botones del panel de navegación para que muestren una animación al pasar sobre ellos */
.underline-hover::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 300ms;
}
.underline-hover:hover::after {
    width: 100%;
}

/* Aplicar márgenes a la barra separadora que está entre la barra de navegación y el banner */
hr {
    margin: 10px 0px;
    background: black;
}

/* SECCIÓN BANNER PRINCIPAL */ /* SECCIÓN BANNER PRINCIPAL */ /* SECCIÓN BANNER PRINCIPAL */
/* Edición del banner principal (el banner principal está etiquetado como 'banner') */
.banner {
    width: 100%;
    height: 250px;
    background: url(img/Images/Fondo\ -\ Work\ 3.jpg) no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
/* Edición del botón del banner principal con texto 'Leer más' etiquetado como 'btn' */
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 0px 0px;
}
/* Cambiar la opacidad del botón 'Leer más' etiquetado como 'btn' */
.btn:hover {
    opacity: .79;
}
/* Espaciado inferior para el título y el texto del banner */ 
.banner h2 {
    color: white;
    margin-bottom: 10px;
}

/* SECCIÓN CARDS */ /* SECCIÓN CARDS */ /* SECCIÓN CARDS */
/* Crear columnas y aplicar espaciado */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}
/* Edición del tamaño de las imágenes */
.cards img {
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
}
.cards-text {
    background-color: blanchedalmond;
}
/* Edición del del texto h3 */
.cards h3 {
    color: black;
    font-size: 20px;
    margin-top: 5px;
}
/* Edición del del texto p */
.cards p {
    color: black;
    margin-bottom:3px;
}
/* Edición del botón con texto 'Leer más' de las cartas principales */
.cards a { 
    padding: 10px 0;
    color: black;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}
/* Estilizar botones de las cartas principales para que muestren una animación al pasar sobre ellos */
.cards a:hover {
    text-decoration: underline; 
}

/* SECCIÓN SOCIAL MEDIA */ /* SECCIÓN SOCIAL MEDIA */ /* SECCIÓN SOCIAL MEDIA */
/* Edición de la sección de social media: (color de fuente, color de fondo y márgenes) */
.social {
    color: white;
    background: black;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
/* Edición del texto 'p' de social media: (color y tamaño de fuente, alineación y márgenes) */
.social p {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
/* Edición de los botones de social media: (alineación) */
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Edición del texto 'a' de social media: (márgenes) */
.links a {
    margin: 0 30px;
}
/* Edición de los textos 'a', 'i' de social media: (color y tamaño de fuente y márgenes) */
.links a i {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* SECCIÓN CONTENIDO */ /* SECCIÓN CONTENIDO */ /* SECCIÓN CONTENIDO */
/* Dividir la sección de contenido en 2 columnas */
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}
/* Centrar el contenido de la sección 1 */
.content-s1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Flexionar el contenido de la sección 1 en la lista 'ul' */
.content-s1 ul {
    display: flex;
}
/* Ajustar la línea lateral de la sección 1 */
.content-line {
    width: 5px;
    height: 170px;
    background: black;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
/* Ajustar el texto 'h1' de la sección 1 (ubicarlo en la parte superior de la sección y centrado) */
.content-text h1 {
    color: black;
    display: flex;
    align-items: initial;
    justify-content: center;
    margin-left: 45px;
    margin-bottom: 50px;
}
/* Ajustar el texto 'p' de la sección 1 (ubicarlo en la parte inferior de la sección y centrado) */
.content-text p {
    color: black;
    display: flex;
    align-items: inherit;
    justify-content: center;
}
/* Ajustar la sección 2 */
.content-s2 {
    color: black;
    font-size: 20px;
    margin-top: 24px;
}

/* SECCIÓN CONTENIDO (STUDIES) */ /* SECCIÓN CONTENIDO (STUDIES) */ /* SECCIÓN CONTENIDO (STUDIES) */
/* Dividir la sección de contenido en 2 columnas */
.studies-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 110px 0;
}
/* Centrar el contenido de la sección 1 */
.studies-content-s1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Flexionar el contenido de la sección 1 en la lista 'ul' */
.studies-content-s1 ul {
    display: flex;
}
/* Ajustar la línea lateral de la sección 1 */
.studies-content-line {
    width: 5px;
    height: 170px;
    background: black;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 10px;
}
/* Ajustar el texto 'h1' de la sección 1 (ubicarlo en la parte superior de la sección y centrado) */
.studies-content-text h1 {
    color: black;
    display: flex;
    align-items: initial;
    justify-content: left;
    margin-bottom: 50px;
}
/* Ajustar el texto 'p' de la sección 1 (ubicarlo en la parte inferior de la sección y centrado) */
.studies-content-text p {
    color: black;
    display: flex;
    align-items: inherit;
    justify-content: left;
}
/* Aplicar márgenes a los textos 'h1' y 'p' de la sección 1 */
.studies-content-text h1 p {
    margin-left: 30px;
}
/* Ajustar la sección 2 */
.studies-content-s2 {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

/* SECCIÓN CONTENIDO (PROJECTS) */ /* SECCIÓN CONTENIDO (PROJECTS) */ /* SECCIÓN CONTENIDO (PROJECTS) */
/* Dividir la sección de contenido en 2 columnas */
.projects-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Centrar el contenido de la sección 1 */
.projects-content-s1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Flexionar el contenido de la sección 1 en la lista 'ul' */
.projects-content-s1 ul {
    display: flex;
}
/* Ajustar la línea lateral de la sección 1 */
.projects-content-line {
    width: 5px;
    height: 170px;
    background: black;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 10px;
}
/* Ajustar el texto 'h1' de la sección 1 (ubicarlo en la parte superior de la sección y centrado) */
.projects-content-text h1 {
    color: black;
    display: flex;
    align-items: initial;
    justify-content: left;
    margin-bottom: 40px;
}
/* Ajustar el texto 'p' de la sección 1 (ubicarlo en la parte inferior de la sección y centrado) */
.projects-content-text p {
    color: black;
    display: flex;
    align-items: inherit;
    justify-content: left;
}
/* Aplicar márgenes a los textos 'h1' y 'p' de la sección 1 */
.projects-content-text h1 p {
    margin-left: 30px;
}
/* Ajustar la sección 2 */
.projects-content-s2 {
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* SECCIÓN CONTENIDO (SOCIAL) */ /* SECCIÓN CONTENIDO (SOCIAL) */ /* SECCIÓN CONTENIDO (SOCIAL) */
/* Dividir la sección de contenido en 2 columnas */
.social-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}
/* Centrar el contenido de la sección 1 */
.social-content-s1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Flexionar el contenido de la sección 1 en la lista 'ul' */
.social-content-s1 ul {
    display: flex;
}
/* Ajustar la línea lateral de la sección 1 */
.social-content-line {
    width: 5px;
    height: 170px;
    background: black;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 10px;
}
/* Ajustar el texto 'h1' de la sección 1 (ubicarlo en la parte superior de la sección y centrado) */
.social-content-text h1 {
    color: black;
    display: flex;
    align-items: initial;
    justify-content: left;
    margin-bottom: 30px;
}
/* Ajustar el texto 'p' de la sección 1 (ubicarlo en la parte inferior de la sección y centrado) */
.social-content-text p {
    color: black;
    display: flex;
    align-items: inherit;
    justify-content: left;
}
/* Aplicar márgenes a los textos 'h1' y 'p' de la sección 1 */
.social-content-text h1 p {
    margin-left: 30px;
}
/* Ajustar la sección 2 */
.social-content-s2 {
    color: black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}

/* OPTIMIZACIÓN PARA VISUALIZACIÓN EN CELULARES */
/* Ajuste de la pantalla para visualización en celulares con ancho de menos de 800 píxeles */
@media (max-width: 800px) {
    .nav-main{
        padding: 20px;
    }
    .banner{
        margin-bottom: 25px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards h3{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .cards p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .cards a{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .social {
        color: white;
        background: black;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 38px;
        margin-right: 38px;
    }
}

/* Ajuste de la pantalla para visualización en celulares con ancho de menos de 500 píxeles */
@media (max-width: 550px) {
    .nav-main{
        padding: 0px;
    }
    .banner{
        margin-bottom: 50px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .cards h3{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .cards p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .cards a{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .social {
        color: white;
        background: black;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 25.5px;
        margin-right: 25.5px;
    }
}